/* Header, Footer, Main Content Styles */

header {
  background-color: #10504f;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.main-content {
  margin-top: 136px;
}

p {
  font-family: "Lato";
}

footer {
  background: black;
}

/* Margins, Breakpoints, etc. */

.page-width {
  margin: 0px auto;
  max-width: 1200px;
}

.full-width {
  width: 100%;
  height: 100%;
}

.medium-up--one-third {
  width: 33%;
}

.medium-up--two-thirds {
  width: 66%;
}

.medium-up--one-fifth {
  width: 19.7%;
}

.medium-up--one-half {
  width: 49.5%;
}

.section {
  margin-top: 50px;
  margin-bottom: 50px;
}

.section-header {
  text-align: center;
  font-family: "Pacifico";
  font-size: 35px;
  margin-bottom: 30px;
}

/* Header & Nav */

.announcement-bar {
  background: black;
  margin-top: 0px;
}

.announcement {
  color: white;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  padding: 14px 0px;
  font-family: Lato;
}

.logo {
  text-align: center;
  display: inline-block;
  padding-right: 15px;
  cursor: pointer;
}

.navigation {
  display: inline-block;
  text-align: center;
}

.main-nav {
  color: white;
  padding: 5px;
  width: 100%;
  text-align: center;
}

.nav-item {
  padding: 20px 23px;
  display: inline-block;
  font-size: 21px;
  font-weight: 300;
  font-family: "Lato";
  text-align: center;
  color: white;
}

a.nav-item:hover {
  color: white;
}

span {
  display: inline-block;
  position: relative;
}
span:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
span:hover:after {
  width: 100%;
  left: 0;
}

/* Slick Hero Slideshow */

#home.ct-header.ct-header--slider {
  background-size: cover;
}

.ct-header .ct-slick {
  margin-bottom: 0;
}
.slick-initialized .slick-slide {
  display: block;
}
.ct-u-display-tablex {
  display: table;
  width: 100%;
  height: 600px;
}
.ct-u-display-tablex > .inner {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}

.btn-slideshow {
  background-color: black;
  border: 3px solid #fff;
  color: white;
}
.ct-slick .slick-track,
.ct-slick .slick-list,
.ct-slick .item,
.ct-slick .slick-item {
  min-height: inherit;
}
.ct-slick .item {
  background-size: cover;
}
.slick-list {
  height: auto;
}

.hero-title {
  font-family: "Pacifico";
  font-size: 50px;
  color: white;
  text-shadow: 1px 1px 60px rgba(0, 0, 0, 1);
  margin-bottom: 17px;
}

.hero-text {
  font-family: "Lato";
  font-size: 30px;
  color: white;
  text-shadow: 1px 1px 40px rgba(0, 0, 0, 1);
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: 20px;
  display: block;
  width: 100%;
  padding-left: 0px !important;
  margin: 0;
  list-style: none;
  text-align: center;
  color: rgba(255, 255, 255, 0);

  li button {
    display: inline-block;
    height: 20px;
    width: 20px;
    overflow: hidden;
    opacity: 0.5;
    background: white;
  }
}

[role="presentation"] {
  display: inline-block;
}

button {
  border: none;
  margin: 10px !important;
  padding: 1px 8px;
}

.btn {
  border-radius: 0px !important;
}

button:focus {
  outline: 0px;
}

presentation {
  display: inline-block;
}

.slick-active {
  display: inline-block;
}

ul {
  list-style-type: none;
}

/* Slick Product Slider */

.product-slider__container {
  max-width: 100%;
  margin: 0 auto;
}

.product-slider {
  margin-left: -30px;
}

.slick-prev: before, 
.slick-next: before {
  display: inline-block;
}

.arrow-right {
  position: absolute;
  cursor: pointer;
  z-index: 1000;
  top: 50%;
  right: 0;
}

.arrow-left {
  position: absolute;
  cursor: pointer;
  z-index: 1000;
  top: 50%;
  left: 0;
}

.slick-prev {
  left: 12px;
}

.single-product {
  padding-left: 30px;
}

.product-photo {
  max-width: 100%;
}

.product-title {
  text-align: center;
  cursor: pointer;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
  font-family: Lato;
}

.product-subtext {
  text-align: center;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  font-family: Lato;
}

.product-price {
  text-align: center;
  cursor: pointer;
  font-size: 17px;
  color: #10504f;
  font-family: Pacifico;
}

/* Misc. CSS for Sections */

.featured-blocks__grid {
  margin-left: -30px;
}

.featured-block-wrapper {
  display: inline-block;
  text-align: center;
  padding-left: 30px;
}

.featured-title {
  background-color: #10504f;
  color: white;
  padding: 20px 0px;
  font-family: "Pacifico";
  font-size: 40px;
}

.img-hover-zoom {
  height: 440px;
  overflow: hidden;
}

.img-hover-zoom img {
  transition: transform 0.9s ease;
}

.img-hover-zoom:hover img {
  transform: scale(1.1);
}

.feature-content {
  width: 40%;
  text-align: left;
  margin-left: auto;
  margin-right: 0;
}

.feature-row {
  height: 500px;
  background-image: url("https://raw.githubusercontent.com/madisonmerchel/dyode-section-2/master/Hero%20Image%202.jpg?token=AKJV2GYSQOSPQNO3QAAWYJ27JMWBO");
  text-align: right;
  height: 638px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.feature-btn {
  background-color: #10504f;
  color: white;
  padding: 10px;
}

.newsletter {
  background-color: #10504f;
  color: white;
  padding-top: 40px;
  padding-bottom: 60px;
}

.newsletter-text {
  background-color: #10504f;
  color: white;
  display: inline-block;
  font-family: Lato;
  font-size: 18px;
  vertical-align: middle;
}

.email-field {
  display: inline-block;
}

.email-input {
  width: 79%;
  display: inline-block;
  border: white;
  height: 35px;
  padding-top: 3px;
}

.email-submit {
  width: 18%;
  display: inline-block;
  background-color: #10504f;
  color: white;
  border: 2px solid white;
  font-family: Pacifico;
  height: 35px;
}

.social-wrapper {
  margin-left: -20px;
}

.social-item {
  padding-left: 20px;
  cursor: pointer;
}

.footer-rows {
  color: white;
  padding: 40px 0px;
  list-style: none;
}

.footer-header {
  font-size: 20px;
  font-family: Pacifico;
  margin-bottom: 10px;
}

.footer-column {
  display: inline-block;
  vertical-align: top;
}

.newsletter-icon {
  padding-right: 15px;
  padding-bottom: 5px;
}

.social-icons {
  text-align: right;
}

.social-icon {
  max-height: 20px;
  max-width: 20px;
  cursor: pointer;
  margin-left: 16px;
}

.desktop-nav {
  display: inline-block;
}

.desktop--hide {
  display: none;
}

/* Mobile Styles */

@media screen and (max-width: 992px) {
  .desktop--hide {
    display: inline-block;
  }

  .small--one-half {
    width: 49%;
  }

  .small--one-third {
    width: 32.5%;
  }

  .small--one-whole {
    width: 100%;
  }

  .small--hide {
    display: none;
  }

  .page-width {
    margin: 0px 20px;
    max-width: none;
  }

  .desktop-nav {
    display: none;
  }

  .main-nav {
    width: auto;
  }

  .logo {
    height: 50px;
    padding: 0px;
  }

  .main-content {
    margin-top: 105px;
  }

  .section-header {
    font-size: 22px;
    margin-bottom: 15px;
  }

  .featured-title {
    font-size: 22px;
    padding: 10px 0px;
  }

  .featured-block-image {
    height: 210px;
  }

  .featured-block-wrapper {
    padding-bottom: 20px;
    padding-left: 20px;
  }

  .featured-blocks__grid {
    margin-left: -20px;
    margin-top: 30px;
  }

  .hero-title {
    font-size: 25px;
    margin-bottom: 10px;
  }

  .hero-text {
    font-size: 17px;
    margin-bottom: 20px;
  }

  .feature-content {
    width: 100%;
    padding-left: 45%;
  }

  .img-hover-zoom {
    height: auto;
  }

  .feature-row {
    height: 250px;
    background-attachment: inherit;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .newsletter-icon {
    display: block;
    padding-bottom: 15px;
    padding-right: 0px;
    margin: auto;
  }

  .newsletter-text {
    text-align: center;
    font-size: 15px;
    padding-bottom: 20px;
  }

  .slick-prev {
    left: 40px;
  }

  .arrow-right {
    right: 10px;
    height: 20px;
  }

  .arrow-left {
    height: 20px;
  }

  .announcement {
    font-size: 14px;
  }

  .single-product {
    padding-left: 15px;
    padding-right: 15px;
  }

  .social-feed {
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .email-input {
    width: 70%;
  }

  .email-submit {
    width: 28%;
  }

  .product-title {
    font-size: 17px;
  }

  .product-subtext {
    font-size: 13px;
  }

  .product-price {
    font-size: 15px;
  }

  .product-slider__container {
    padding-bottom: 30px;
    padding-top: 10px;
  }

  .group {
    margin-bottom: 20px;
    background-color: black !important;
  }

  /* Mobile Nav */

  mobile-nav p {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px 0;
  }

  .mobile-nav button {
    display: inline-block;
    background: #a9a9a9;
    color: #fff;
    font-weight: 400;
    padding: 10px 20px;
    margin: 5px;
    text-transform: uppercase;
    border-radius: 2px;
    letter-spacing: 1px;
  }
  .mobile-nav button {
    border: none;
    padding: 15px 30px;
    outline: none;
    background: #85b91e;
  }

  .mobile-nav {
    text-align: left;
  }

  .mobile-cart {
    text-align: right;
  }

  button {
    padding: 0px;
  }

  .overlay-slidedown {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
    transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
  }

  .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(16, 80, 79, 1);
  }
  .overlay nav {
    text-align: center;
    position: relative;
    top: 50%;
    height: 60%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    height: 100%;
    position: relative;
    margin-top: 40px;
  }
  .overlay ul li {
    display: block;
    height: 20%;
    height: calc(100% / 5);
    min-height: 54px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .overlay ul li a {
    font-size: 20px;
    font-weight: 300;
    display: block;
    color: #fff;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    cursor: pointer;
  }
  .overlay .overlay-close {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
    overflow: hidden;
    border: none;
    background: url(https://github.com/madisonmerchel/dyode-section-2/blob/master/x.png?raw=true)
      no-repeat center center;
    background-size: contain;
    text-indent: 200%;
    color: transparent;
    outline: none;
    z-index: 100;
  }
  .overlay-slidedown.open {
    visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
  }

  .hamburger {
    height: 20px;
    width: auto;
  }

  .cart {
    height: 20px;
    width: auto;
  }

  .accordion {
    cursor: pointer;
    transition: 0.4s;
  }

  .accordion:after {
    content: "\02795";
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }

  .active:after {
    content: "\2796";
  }

  .group {
    padding: 0px;
    display: none;
    overflow: hidden;
  }

  .footer-header {
    margin-bottom: 22px;
  }

  .social-icons {
    text-align: left;
  }

  .social-icon {
    margin-right: 16px;
    margin-left: 0px;
  }

  .follow-us {
    margin-bottom: 5px;
  }

  .ct-u-display-tablex {
    height: 250px;
  }

  .slick-initialized .slick-slide {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
  }

  .btn-slideshow {
    font-size: 11px !important;
  }

  .feature-btn {
    font-size: 11px;
  }

  .slick-dots {
    z-index: 80;
  }

  .arrow-left {
    top: 40%;
  }
  .arrow-right {
    top: 40%;
  }
}
